<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.testify.ecfeed.gui.editor.EcMultiPageEditor"
            default="false"
            extensions="ect"
            icon="icons/sample.gif"
            id="com.testify.ecfeed.plugin.ectEditor"
            name="Ect Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="com.testify.ecfeed.gui.wizards.NewEcFileWizard"
            icon="icons/sample.gif"
            id="com.testify.ecfeed.plugin.newEctFileWizard"
            name="NewEctFileWizard">
      </wizard>
   </extension>

</plugin>
